:root {
    --menu-bg: #ddd;
    --menu-br: #000;
    --menu-lh: 2em;
    --menu-lc: 1;
    --menu-hi: calc(var(--menu-lh) * var(--menu-lc));
    --view-bg: #eee;
    --view-br: #000;
    --list-bg: #eee;
    --list-br: #000;
    --list-name-bg: #fff;
    --list-width: 12.5vw;
    --show-count: 10;
    --show-width: calc(calc(100vw - var(--list-width) - 2px) / var(--show-count));
    --side-bg: chocolate;
    --side-br: darkred;
    --side-pd: 0.75em;
    --task-pad-bg: brown;
    --task-pad-size: 350px;
    --task-pad-br: #000;
    --data-fmt-bg: #eee;
    --data-fmt-br: #333;
    --drag-icon-size: 48px;
    --drag-br-width: calc(var(--drag-icon-size) / 6);
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    overscroll-behavior-y: contain;
}
.fixed-center {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-fill {
    flex-grow: 1;
}
.menu {
	display: table-cell;
    margin: 1px;
    padding: 0 0.5em;
    position: relative;
}
.menu:hover {
	border-color: #cce8ff;
	background-color: #e5f3ff;
}
.menu > .group {
	display:none;
}
.menu:hover > .group {
	display: block;
    left: 0;
}
.menu::before, .item::after {
	content: attr(data-text);
}
.group {
    display: block;
	background: #f0f0f0;
	border: 1px solid #ccc;
	position: absolute;
}
.item {
    display: block;
	border: 1px solid #f0f0f0;
	line-height: 1.5;
	padding: 0 0.5em;
    margin-left: 1px;
    position: relative;
    min-width: max-content;
}
.item:hover {
	background: #90c8f6;
    z-index: 1;
}
.item > .group {
	display: none;
    top: -2px;
	left: 100%;
}
.item:hover > .group {
	display: block;
}
.option > .item::before {
    content: '\2714';
    width: 1em;
    float: left;
}
.option > .item.check::before {
    color: #0f0;
}
.option > .item:not(.check)::before {
    color: transparent;
}
#menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    line-height: var(--menu-lh);
    height: var(--menu-hi);
    border: 1px solid var(--menu-br);
    border-top: none;
    background-color: var(--menu-bg);
    padding: 0 0.5em;
    z-index: 1;
}
.align-right {
    display: inline-block;
    float: right;
    clear: both;
}
label[for="DateFormat"] {
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    width: 150px;
    line-height: 1.5;
    height: 1.5em;
    border-radius: 1em;
    background-color: var(--data-fmt-bg);
}
label[for="DateFormat"] > span::before {
    width: 1em;
    content: attr(date-text);
    display: inline-block;
    text-align: center;
}
label[for="DateFormat"] > span:first-of-type {
    margin-left: 4px;
}
label[for="DateFormat"] > span:last-of-type {
    margin-right: 4px;
}
#DateFormat {
    -webkit-appearance: none;
    margin: 0;
    position: absolute;
    width: 100%;
    border-radius: 1em;
    background-color: transparent;
}
#DateFormat:focus {
    box-shadow: 0 0 0 1px rgb(77 , 144, 254);
    outline: none;
}
#DateFormat::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: calc(1.5em + 4px);
    height: calc(1.5em + 4px);
    border: 1px solid var(--data-fmt-br);
    border-radius: 1em;
}
.container {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
#view {
    padding-top: var(--menu-hi);
    background-color: var(--view-bg);
    box-shadow: inset 0 0 0 1px var(--view-br);
}
#tasks-list {
    min-width: var(--list-width);
    max-width: var(--list-width);
    padding-top: 2em;
    border: 1px solid var(--list-br);
    background-color: var(--list-bg);
}
#tasks-list *[data-task-name] {
    line-height: 2;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 0.5em;
    border-top: 1px solid var(--list-br);
    background-color: var(--list-name-bg);
}
#tasks-list *[data-task-name]::before {
    content: attr(data-task-name);
}
#tasks-list *[data-task-name]:nth-last-child(1) {
    border-bottom: 1px solid var(--list-br);
}
.tasks-container {
    clip-path: inset(0);
    overflow-x: hidden;
}
#tasks-view {
    height: 100%;
    position: relative;
    user-select: none;
}
#tasks-view * {
    user-select: auto;
}
.task {
    min-width: var(--show-width);
    max-width: var(--show-width);
    border: 1px solid #000;
    border-left-width: 0;
    box-sizing: border-box;
}
.task-date {
    position: fixed;
    width: var(--show-width);
    line-height: 2;
    text-align: center;
    border-bottom: 1px solid #000;
}
.task-date::before {
    content: attr(data-date);
}
.task-fill {
    height: 100%;
    padding-top: calc(2em + 1px);
    position: relative;
    margin-top: 1px;
}
#task-side {
    min-width: 0;
    max-width: 0;
    border: 0 solid var(--side-br);
    background-color: var(--side-bg);
    padding: var(--side-pd) 0;
    position: fixed;
    right: 0;
    transition-property: min-width, max-width, padding, border-width;
    transition-duration: 0.25s;
}
#task-side.show {
    min-width: var(--task-pad-size);
    max-width: var(--task-pad-size);
    padding: var(--side-pd);
    border-width: 1px;
}
.task-pad {
    margin-bottom: var(--side-pd);
    border: 1px solid var(--task-pad-br);
    background-color: var(--task-pad-bg);
    width: var(--task-pad-size);
    position: relative;
    overflow: hidden;
    transition-property: width, border-width;
    transition-duration: 0.25s;
}
#task-side:not(.show) > .task-pad {
    width: 0;
    border-width: 0;
}
#task-side > .task-pad:last-of-type {
    margin-bottom: 0;
}
.drag-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--drag-icon-size);
    height: var(--drag-icon-size);
    user-select: none;
    background-image: linear-gradient(#000 50%, #00000000 50%);
    background-size: var(--drag-br-width) var(--drag-br-width);
    transform: translate(-50%, -50%) rotate(-45deg);
}
.rm-icon {
    width: 2em;
    height: 2em;
    line-height: 2;
    margin-left: auto;
    position: relative;
}
.rm-icon::before {
    content: "";
    width: 50%;
    height: 2px;
    background-color: black;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.task-pad label {
    display: grid;
    padding: 0.5em 2em;
}
.task-pad label {
    grid-template-columns: 1fr 2fr;
}
.task-pad label:last-of-type {
    grid-template-rows: 1fr 5em;
}
.task-pad label:last-of-type span {
    padding-bottom: 0.5em;
}
.task-pad label span {
    text-align: right;
    padding-right: 1em;
    line-height: 1.5;
}
.task-pad label *:not(span) {
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.task-pad label textarea {
    resize: none;
    height: 5em;
    grid-column-start: span 2;
}
.task-pad input:invalid {
    outline: 5px solid #f00;
}
.task-pad.minima label:not(:first-of-type), .task-pad.minima label:first-of-type span, .task-pad.minima .rm-icon {
    display: none;
}
.task-pad > .task-btn-container {
    margin: 0 1em 1em 1em;
    display: flex;
    justify-content: space-evenly;
}
.minima {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 250px;
    box-sizing: border-box;
}
.minima .drag-icon {
    transform: inherit;
    position: relative;
    float: left;
    width: 2em;
    height: 2em;
    border-right: 1px solid #000;
    cursor: move;
    background: #0f0;
}
.minima label {
    grid-template-columns: 1fr;
    padding: 0;
    box-sizing: inherit;
    height: 2em;
}
.task-bar {
    --task-bar-left: 0;
    --task-bar-right: 0;
    z-index: 1;
    outline: 1px solid #000;
    height: 2em;
    position: absolute;
    background: green;
    width: calc(var(--show-width) * (var(--task-bar-right) - var(--task-bar-left)) - 1px);
    margin-left: calc(var(--show-width) * var(--task-bar-left));
}
.plus-button {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    height: 3vw;
    width: 3vw;
    line-height: 3vw;
    border-radius: 50%;
    border: none;
    background-color: #dad;
}
.plus-button:active {
    background-color: #a7a;
}
.plus-button:focus {
    box-shadow: 0 0 0 1px rgb(77 , 144, 254);
    outline: none;
}
.plus-button::before, .plus-button::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background: #fff;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.plus-button::after {
    height: 50%;
    width: 2px;
}