:root {
    --menu-bg: #ddd;
    --menu-br: #999;
    --menu-lh: 2em;
    --menu-lc: 0;
    --menu-hi: calc(var(--menu-lh) * var(--menu-lc));
    --view-bg: #eee;
    --view-br: #000;
    --list-bg: linear-gradient(rgba(238, 68, 238, 0.75), rgba(119, 204, 255, 0.75));
    --list-br: #999;
    --list-depth: 1;
    --list-name-bg: #fff;
    --list-width: 12.5vw;
    --show-count: 7;
    --show-width: calc(calc(100vw - var(--list-width)) / var(--show-count));
    --side-bg: #aaa;
    --side-br: #777;
    --side-pd: 0.75em;
    --task-pad-bg: #eee;
    --task-pad-size: 350px;
    --task-pad-br: #333;
    --data-fmt-bg: #ccc;
    --data-fmt-br: #333;
    --drag-icon-size: 48px;
    --drag-br-width: calc(var(--drag-icon-size) / 6);
    --btn-bg: #797979;
    --btn-color: #f2f2f2;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    overscroll-behavior-y: contain;
    font-family: sans-serif;
    font-size: 24px;
}
.fixed-center {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.fixed-fill {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-fill {
    flex-grow: 1;
}
.menu {
    display: table-cell;
    margin: 1px;
    padding: 0 0.5em;
    position: relative;
}
.menu:hover {
    border-color: #cce8ff;
    background-color: #e5f3ff;
}
.menu > .group {
    display: none;
}
.menu:hover > .group {
    display: block;
    left: 0;
}
.menu::before, .item::after {
    content: attr(data-text);
}
.group {
    display: block;
    background: #f0f0f0;
    border: 1px solid #ccc;
    position: absolute;
}
.item {
    display: block;
    border: 1px solid #f0f0f0;
    line-height: 1.5;
    padding: 0 0.5em;
    margin-left: 1px;
    position: relative;
    min-width: max-content;
}
.item:hover {
    background: #90c8f6;
    z-index: 1;
}
.item > .group {
    display: none;
    top: -2px;
    left: 100%;
}
.item:hover > .group {
    display: block;
}
.option > .item::before {
    content: '\2714';
    width: 1em;
    float: left;
}
.option > .item.check::before {
    color: #0f0;
}
.option > .item:not(.check)::before {
    color: transparent;
}
#menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    line-height: var(--menu-lh);
    height: var(--menu-hi);
    border-bottom: 1px solid var(--menu-br);
    background-color: var(--menu-bg);
    padding: 0 0.5em;
    z-index: 1;
}
.align-right {
    display: inline-block;
    float: right;
    clear: both;
}
label[for="DateFormat"] {
    display: inline-flex;
    left: calc(12.5vw + 8px);
    bottom: 8px;
    justify-content: space-between;
    position: fixed;
    width: 150px;
    line-height: 1.5;
    height: 1.5em;
    border-radius: 1em;
    background-color: var(--data-fmt-bg);
}
label[for="DateFormat"] > span::before {
    width: 1em;
    content: attr(date-text);
    display: inline-block;
    text-align: center;
}
label[for="DateFormat"] > span:first-of-type {
    margin-left: 6px;
}
label[for="DateFormat"] > span:last-of-type {
    margin-right: 6px;
}
#DateFormat {
    -webkit-appearance: none;
    margin: 0;
    position: absolute;
    width: 100%;
    border-radius: 1em;
    background-color: transparent;
}
#DateFormat:focus {
    /*box-shadow: 0 0 0 1px rgb(77 , 144, 254);*/
    outline: none;
}
#DateFormat::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 36px;
    height: 36px;
    border: 1px solid var(--data-fmt-br);
    border-radius: 50%;
}
.container {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
#view {
    padding-top: var(--menu-hi);
    background-color: var(--view-bg);
}
#tasks-list {
    min-width: var(--list-width);
    max-width: var(--list-width);
    padding-top: 2em;
    border: 1px solid var(--list-br);
    background-image: var(--list-bg);
    border-left: none;
}
#tasks-list::before {
    content: "";
    position: fixed;
    background-color: inherit;
    width: var(--list-width);
    height: 2em;
    margin-top: -2em;
    /* box-shadow: 0px 0px 0 1px var(--list-br); */
}
#tasks-list *[data-task-name] {
    --list-level: 0;
    line-height: 1.5;
    height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: .5em;
    padding-left: 1em;
    background-color: var(--list-name-bg);
    /* outline: 1px solid #fff; */
    box-shadow: 0 1px 0 0px #fff;
    margin-top: 1px;
    box-sizing: border-box;
    text-indent: calc(12px * var(--list-level));
    /*text-align: center;*/
    /*background-color: hsl(calc(360 * var(--list-level) / var(--list-depth)), 100%, 75%);*/
}
#tasks-list *[data-task-name]::before {
    content: attr(data-task-name);
}
.tasks-container {
    clip-path: inset(0);
    overflow-x: hidden;
    background-color: inherit;
}
#tasks-view {
    height: 100%;
    position: relative;
    user-select: none;
    background-color: inherit;
}
#tasks-view * {
    user-select: auto;
    color: #333;
}
.task {
    min-width: var(--show-width);
    max-width: var(--show-width);
    border: 1px solid #999;
    border-left-width: 0;
    box-sizing: border-box;
    background-color: inherit;
}
.task::before {
    content: attr(data-text);
    position: fixed;
    z-index: 2;
    background-color: inherit;
    width: var(--show-width);
    line-height: 2;
    text-align: center;
    box-shadow: 0px 0px 0 1px #999;
}
.task-fill {
    height: 100%;
    padding-top: calc(2em + 1px);
    position: relative;
    margin-top: 1px;
}
#task-side {
    min-width: 0;
    max-width: 0;
    border: 0 solid var(--side-br);
    background-color: var(--side-bg);
    padding: var(--side-pd) 0;
    position: fixed;
    top: 2em;
    bottom: 0;
    right: 0;
    transition-property: min-width, max-width, padding, border-width;
    transition-duration: 0.25s;
}
#task-side.show {
    min-width: var(--task-pad-size);
    max-width: var(--task-pad-size);
    padding: var(--side-pd);
    border-width: 1px;
}
#task-side > .plus-button {
    display: none;
}
#task-side.show > .plus-button {
    display: block;
}
.task-pad {
    padding-bottom: 1em;
    margin-bottom: var(--side-pd);
    border: 1px solid var(--task-pad-br);
    background-color: var(--task-pad-bg);
    width: var(--task-pad-size);
    position: relative;
    overflow: hidden;
    transition-property: width, border-width;
    transition-duration: 0.25s;
}
.task-pad * {
    font-family: serif;
    font-size: medium;
}
.task-btn {
    line-height: 2;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 5em;
    border-radius: 8px;
    color: #1a73e8;
    text-align: center;
    padding: 1px 6px;
    box-sizing: border-box;
    cursor: default;
    user-select: none;
}
.task-btn:focus {
    outline: none;
}
.task-btn:active {
    background-color: #aaa;
}
.task-btn.highlight {
    background: #1a73e8;
    color: #fff;
    border-color: #1a73e8;
}
#task-side:not(.show) > .task-pad {
    width: 0;
    border-width: 0;
}
.drag-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--drag-icon-size);
    height: calc(var(--drag-icon-size) - 1px);
    user-select: none;
    background-image: linear-gradient(#000 50%, #00000000 50%);
    background-size: var(--drag-br-width) var(--drag-br-width);
    transform: translate(-50%, -50%) rotate(-45deg);
}
.rm-icon {
    width: 2em;
    height: 2em;
    line-height: 2;
    margin-left: auto;
    position: relative;
}
.rm-icon::before {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #f00;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
}
.rm-icon::after {
    content: "";
    width: 2px;
    height: 50%;
    background-color: #f00;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
}
.fixed-fill .task-pad {
    border-radius: 8px;
    padding: 0;
}
.task-pad label {
    display: grid;
    padding: 0.5em 2em;
}
.task-pad label {
    grid-template-columns: 1fr 2fr;
}
.task-pad label:last-of-type {
    grid-template-rows: 1fr 7em;
}
.task-pad label:last-of-type span {
    padding-bottom: 0.5em;
}
.task-pad label span {
    text-align: right;
    padding-right: 1em;
    line-height: 1.5;
}
.task-pad label *:not(span) {
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.task-pad label textarea {
    resize: none;
    grid-column-start: span 2;
}
.task-pad.minima label:not(:first-of-type), .task-pad.minima label:first-of-type span, .task-pad.minima .rm-icon {
    display: none;
}
.task-pad > .task-btn-container {
    margin: 1em;
    display: flex;
    justify-content: space-evenly;
}
.minima {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 250px;
    box-sizing: border-box;
}
.minima .drag-icon {
    transform: inherit;
    position: relative;
    float: left;
    width: 2em;
    height: 2em;
    border-right: 1px solid #000;
    cursor: move;
    background: #0f0;
}
.minima label {
    grid-template-columns: 1fr;
    padding: 0;
    box-sizing: inherit;
    height: 2em;
}
.task-bar {
    --task-bar-left: 0;
    --task-bar-right: 0;
    z-index: 1;
    /* outline: 1px solid #000; */
    box-shadow: 0 0 0 1px #e4e;
    height: 1em;
    position: absolute;
    background: #e1e8ee;
    margin: .25em;
    border-radius: 1em;
    width: calc(var(--show-width) * (var(--task-bar-right) - var(--task-bar-left)) - 1px);
    margin-left: calc(var(--show-width) * var(--task-bar-left));
}
.task-finish {
    background-color: #0ffff0;
}
#ShowTaskSide, #AddTaskPad {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition-property: right;
    transition-duration: 0.5s;
    z-index: 1;
}
#ShowTaskSide.right-arrow {
    right: calc(30px + var(--task-pad-size) + var(--side-pd));
}
#increase {
    right: 30px;
    bottom: 6.5em;
}
#decrease {
    right: 30px;
    bottom: 4.5em;
}
.plus-button, .minus-button, .left-arrow, .right-arrow {
    position: fixed;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--btn-bg);
    z-index: 1;
}
.plus-button:active, .minus-button:active, .left-arrow:active, .right-arrow:active {
    background-color: #b8b8b8;
}
.plus-button:focus, .minus-button:focus, .left-arrow:focus, .right-arrow:focus {
    /*box-shadow: 0 0 0 1px rgb(77 , 144, 254);*/
    outline: none;
}
.plus-button::before, .plus-button::after, .minus-button::before, .minus-button::after, .left-arrow::before, .left-arrow::after, .right-arrow::before, .right-arrow::after {
    content: "";
    width: 40%;
    height: 2px;
    background: var(--btn-color);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.plus-button::after {
    height: 40%;
    width: 2px;
}
.minus-button::after {
    content: none;
}
.left-arrow::after {
    height: 30%;
    width: 30%;
    border-color: var(--btn-color);
    border-style: solid;
    border-width: 2px 0 0 2px;
    background: none;
    transform-origin: right bottom;
    transform: translate(-30%, -100%) rotate(-45deg);
}
.right-arrow::after {
    height: 30%;
    width: 30%;
    border-color: var(--btn-color);
    border-style: solid;
    border-width: 0 2px 2px 0;
    background: none;
    transform-origin: right bottom;
    transform: translate(-30%, -100%) rotate(-45deg);
}
.contextmenu {
    position: absolute;
    display: flex;
    box-shadow: 0 2px 6px #9e9e9e;
    flex-direction: column;
    justify-content: space-evenly;
    background: white;
    border: none;
    border-radius: 4px;
    margin: 0;
    min-width: 128px;
    outline: none;
    padding: 8px 0;
}
.contextmenu > * {
    background: none;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: var(--cr-primary-text-color);
    font: inherit;
    min-height: 2em;
    padding: 0 24px;
    text-align: start;
    user-select: none;
    width: 100%;
    line-height: 2em;
}
.contextmenu > *:nth-child(n+2):hover {
    background: #e8eaed;
}
label[for='openFile'], #saveFile {
    position: fixed;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--btn-bg);
    z-index: 1;
    line-height: 40px;
    text-align: center;
    color: var(--btn-color);
    right: 30px;
    bottom: 12em;
}
#saveFile {
    bottom: 10em;
}